@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #937dc2;
  color: white;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
button {
  padding: 0.5em;
  font-size: 2rem;
  border: none;
  background: white;
}

button {
  color: #937dc2;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.movie-button i {
  margin-right: 12px;
}

button:hover {
  color: white;
  background-color: #937dc2;
}

.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-list {
  min-width: 30%;
  list-style: none;
}
.movie {
  margin: 0.5rem;
  padding-left: 1rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-trash {
  border: none;
  padding: 4px 12px;
  cursor: pointer;
  font-size: 1.5rem;
}
