*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f4f4f5;
  font-size: 1.5rem;
}

.card {
  width: 30rem;
  min-height: 46rem;
  margin: 4rem auto;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(0deg, #736a6f3c, rgba(113, 72, 9, 0.7)), url('coffee-shop.jpg') center/cover;
  color: white;
  box-shadow: 1px 2px 3px #ccc;
}

.card h1, .card p {
  margin-bottom: 2rem;
}

.card p {
  font-size: 5rem;
  font-weight: bold;
}

.btn-container {
  display: flex;
  gap: 1em;
}
button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  font-weight: bold;
  background-color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
button:hover,button:active {
  background-color:black;
}
button:active {
  box-shadow: 1px 1px 3px #ccc;
}